body {
    background-color: #1f3133;
    color: #b5eaee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    padding: 16px;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #b5eaee;
}

img {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

div.contents, 
div.recipes-container {
    max-width: 450px;
    margin: auto;
}